<div class="row mb-2">
    <div class="col-9">
    </div>
    <div class="col-3">
        <form class="form-inline" asp-action="search">
            <div class="d-flex">
                <input type="search" name="term" placeholder="Search" class="form-control mr-sm-2">
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </div>
        </form>
    </div>
</div>