@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h4>we hope to you happy time in our web site </h4>
<br />
<b>start enjoy</b>
@* <a class="btn btn-primary btn-lg m-2" asp-controller="Account" asp-action="LoginToActor">Login</a> *@


@* <a class="btn btn-primary btn-lg m-2" asp-controller="Account" asp-action="LoginToProducer">Login As a Producer</a>


<a class="btn btn-primary btn-lg m-2" asp-controller="Account" asp-action="LoginToManager">Login as a Manager</a>


<a class="btn btn-primary btn-lg m-2" asp-controller="Account" asp-action="LoginToAdmin">Login as a Admin</a> *@
  
