@model MovieViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>MovieViewModel</h4>
<hr />

<form asp-action="Add" asp-controller="Movies" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <partial name="MoviePartialView" />
            <div class="form-group">
                <label asp-for="Cover" class="form-label mt-4"></label>
                <input asp-for="Cover" class="form-control" type="file"
                       data-rule-extension="@FileSettings.AllowedExtentions.Replace("." , string.Empty)"
                       data-msg-extension="not allowed extensionssssssssss"
                       data-rule-filesize="@FileSettings.MaxSizeinByte"
                       data-msg-filesize="maximum allowed size is @FileSettings.MaxSizeInMB MB" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Add Movie" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-5">
            <img class="cover-preview d-none" alt="cover" style="width:300px;height:300px;" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_SectionPartialView" />
}
